

// Category 
.category {
    margin-block: toRem(50);

    // .category__container
    &__container {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: toRem(20);
        @media(min-width: toEm(768)) {
            gap: toRem(50);
        }
    }

    // .category__title-block
    &__title-block {
    }

    // .category__cards
    &__cards {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(toRem(205), 1fr));
        column-gap: toRem(20);
        row-gap: toRem(35);
        width: 100%;
    }

    // .category__card
    &__card {
        @media(max-width: toEm(991)) {
            gap: toRem(10);
        }
    }
}
